{% extends "base.html" %}
{% load static %}
{% block nav %}
        <a class="nav-link" href="{% url "a-create" poll.pk%}">Создать ответ</a>
        <a class="nav-link" href="{% url "poll-update" poll.pk %}">Редактировать опрос</a>
        <a class="nav-link" href="{% url "poll-delete" poll.pk %}">Удалить опрос</a>
{% endblock %}
{% block content %}
<h4 class="text-danger text-center">Просмотр опроса № {{ poll.id }}</h4>
    <p class="text-danger">вопрос - {{ poll.question }}</p>
    <p>дата создания опроса - {{ poll.created_at }}</p>


    <p></p>

    <div class="row">
        {% for poll in poll.polls.all %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h3>Вариант - номер {{ poll.id }} </h3>
                        <p>Ответ - {{ poll.variant }}</p>
                        <a class="btn btn btn-primary" href="{% url "a-update" poll.pk %}" role="button"><i class="fa fa-pencil"></i> Редактировать</a>
                   <a class="btn btn btn-primary" href="{% url "a-delete" poll.pk%}" role="button"><i class="fa fa-trash"></i> Удалить</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</p>

<a href="{% url "polls" %}">На главную опросов</a>
{% endblock %}